In [16]:
import pandas as pa
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import re
import time

In [18]:
no = 1
job_url = f'''https://www.jobkorea.co.kr/Search/?stext=aws&tabType=recruit&Page_No={no}'''
driver = webdriver.Chrome()
driver.get(job_url)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [9]:
# 공고 제목
# 회사명

re.sub('\s', '', soup.select('div.post')[0].select('a')[1].text)
soup.select('div.post')[0].select('a')[0].text

'㈜세종교육'

In [10]:
soup.select('p.etc')[0].text
# 기술
tec = [b.text for b in soup.select('p.etc')]

In [5]:
# 경력
# 학력
soup.select('span.exp')[0].text
soup.select('span.edu')[0].text

'학력무관'

In [15]:
# 주소
address = [c.text for c in soup.select('span.loc.long')]

In [6]:
corp = []
title = []
exp = []
edu = []
for a in range(20):
    corp.append(soup.select('div.post')[a].select('a')[0].text)
    title.append(re.sub('\s', '', soup.select('div.post')[a].select('a')[1].text))
    exp.append(soup.select('span.exp')[a].text)
    edu.append(soup.select('span.edu')[a].text)

# Job_korea_Crawling_program

In [20]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import re
import time

In [21]:
job_res = pd.DataFrame(columns=['회사명', '공고제목', '주소', '경력', '기술', '학력'])

for no in range(1,5):  # 1 ~ 83:
    jk_url = f'''https://www.jobkorea.co.kr/Search/?stext=aws&tabType=recruit&Page_No={no}'''

    driver = webdriver.Chrome()
    driver.get(job_url)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    corp = []
    title = []
    exp = []
    edu = []

    for a in range(20):
        corp.append(soup.select('div.post')[a].select('a')[0].text)
        title.append(re.sub('\s', '', soup.select('div.post')[a].select('a')[1].text))
        exp.append(soup.select('span.exp')[a].text)
        edu.append(soup.select('span.edu')[a].text)

    address = [c.text for c in soup.select('span.loc.long')]
    tec = [b.text for b in soup.select('p.etc')]

    job_temp = pd.DataFrame(
        [
        corp, title, address, exp, tec, edu
        ], index = [
            '회사명', '공고제목', '주소', '경력', '기술', '학력'
            ]
            ).T

    job_res = pd.concat([job_res, job_temp])

In [27]:
job_res.head()

,회사명,공고제목,주소,경력,기술,학력
0,㈜세종교육,[IT취업률100프로]AIoT/AWS/풀스택개발(무료숙식교육/비전공자가능/수도권기숙...,경기 성남시,신입,"직업전문학교, 서버관리, 클라이언트, 반응형웹, 빅데이터, 딥러닝, 인공지능",학력무관
1,㈜클로잇,[클로잇]AWS/AzureTA채용,서울 강남구,경력5년↑,"AWS, SM, 아키텍쳐, Azure, 솔루션, 시스템운영, SI, 네트워크관리, ...",대졸↑
2,메가존클라우드㈜,"FinancePreSalesEngineer,AWS",서울 강남구,경력2년↑,"AWS, 네트워크관리, 솔루션영업, 솔루션, 시스템영업, 기술영업, 솔루션스아키텍트...",학력무관
3,메가존클라우드㈜,AWSManagedService(EnterpriseCloudEngineer)채용,서울 강남구,신입·경력,"AWS, Cloud, Cloud Engineer, K8s, 소프트웨어개발, 솔루션",학력무관
4,빗썸코리아,[빗썸]클라우드엔지니어-AWS서비스운영,서울 강남구,경력5년↑,서버관리,학력무관

In [24]:
job_res.isna().sum()

회사명     0
공고제목    0
주소      0
경력      0
기술      0
학력      0
dtype: int64

In [33]:
job_res.to_excel('job_res.xlsx')