In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [4]:
page = 1
url_sri = f'https://www.saramin.co.kr/zf_user/search/recruit?search_area=main&search_done=y&search_optional_item=n&searchType=recently&searchword=aws&recruitPage={page}&recruitSort=relation&recruitPageCount=100&inner_com_type=&company_cd=0%2C1%2C2%2C3%2C4%2C5%2C6%2C7%2C9%2C10&show_applied=&quick_apply=&except_read=&ai_head_hunting=&mainSearch=n'

In [5]:
driver = webdriver.Chrome()
driver.get(url_sri)
driver.get(url_sri)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [81]:
# 글 제목
title = [a.text for a in soup.select('h2.job_tit')]

In [82]:
# 주소
# num = 1 ~ 100
address = driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{1}]/div[2]/div[3]/span[1]').text

In [83]:
# 경력
cur = driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{1}]/div[2]/div[3]/span[2]').text

In [84]:
# 회사
corp = [re.sub('\s','',b.text) for b in soup.select('strong.corp_name')]

In [121]:
# 기술

# tec_temp = soup.select('div.job_sector')[0].text
# re.sub('\s','',tec_temp).split('외')[0]
# re.sub('\s',' ',tec_temp).split()[:-2]

tec = []

for c in soup.select('div.job_sector'):
    if '외' in c.text:
        tec.append(re.sub('\s','',c.text).split('외')[0])
    else:
         tec.append(re.sub('\s',' ',c.text).split('  ')[0])

# Crawling Program

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
res_sri = pd.DataFrame(columns= ['회사명', '공고제목', '주소', '경력', '기술'])

In [4]:
for page in range(1, 2):
    url_sri = f'https://www.saramin.co.kr/zf_user/search/recruit?search_area=main&search_done=y&search_optional_item=n&searchType=recently&searchword=aws&recruitPage={page}&recruitSort=relation&recruitPageCount=100&inner_com_type=&company_cd=0%2C1%2C2%2C3%2C4%2C5%2C6%2C7%2C9%2C10&show_applied=&quick_apply=&except_read=&ai_head_hunting=&mainSearch=n'
    tec = []
    address = []
    cur = []
    
    driver = webdriver.Chrome()
    driver.get(url_sri)
    driver.get(url_sri)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    title = [a.text for a in soup.select('h2.job_tit')]
    corp = [re.sub('\s','',b.text) for b in soup.select('strong.corp_name')]
    
    for g in range(1,101):
        time.sleep(0.01)
        try:
            address.append(driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{g}]/div[2]/div[3]/span[1]').text)
            cur.append(driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{g}]/div[2]/div[3]/span[2]').text)
        except:
            address.append(driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{g}]/div[1]/div[4]').text)

    for c in soup.select('div.job_sector'):
        if '외' in c.text:
            tec.append(re.sub('\s','',c.text).split('외')[0])
        else:
             tec.append(re.sub('\s',' ',c.text).split('  ')[0])
                
    res_temp = pd.DataFrame([corp, title, address, cur, tec], index = ['회사명', '공고제목', '주소', '경력', '기술']).T
    res_sri = pd.concat([res_sri, res_temp])

In [5]:
res_sri.to_excel('사람인.xlsx')

오류

1. 주소와 경력의 결측치가 많은것을 확인. 일단 컬럼 제거
selenium 사용 실수?

문제 : 주소 관련 4가지 유형의 XPATH 확인 -- selenium 사용 각하

Beautifulsoup 사용 인용

In [23]:
address_temp = soup.select('div.job_condition')[36].text.split()
address_temp

['경기전체', '경력', '5~15년', '학력무관', '정규직']

In [28]:
address = ''.join(address_temp[:2])
'경력' in address

True

In [32]:
address = []

for k in soup.select('div.job_condition'):
    address.append(''.join(k.text.split()[:2]))

# program 2 -- 완성

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [6]:
res_sri = pd.DataFrame(columns= ['회사명', '공고제목', '주소', '경력', '기술'])

for page in range(1, 3):
    url_sri = f'https://www.saramin.co.kr/zf_user/search/recruit?search_area=main&search_done=y&search_optional_item=n&searchType=recently&searchword=aws&recruitPage={page}&recruitSort=relation&recruitPageCount=100&inner_com_type=&company_cd=0%2C1%2C2%2C3%2C4%2C5%2C6%2C7%2C9%2C10&show_applied=&quick_apply=&except_read=&ai_head_hunting=&mainSearch=n'
    tec = []
    address = []
    cur = []
    
    driver = webdriver.Chrome()
    driver.get(url_sri)
    driver.get(url_sri)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    title = [a.text for a in soup.select('h2.job_tit')]
    corp = [re.sub('\s','',b.text) for b in soup.select('strong.corp_name')]

    for k in soup.select('div.job_condition'):
        if '경력' in ''.join(k.text.split()[:2]):
            address.append(''.join(k.text.split()[:1]))
        else:
            address.append(''.join(k.text.split()[:2]))
    
    for g in range(1,101):
        try:
            cur.append(driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{g}]/div[2]/div[3]/span[2]').text)
        except:
            cur.append(None)

    for c in soup.select('div.job_sector'):
        if '외' in c.text:
            tec.append(re.sub('\s','',c.text).split('외')[0])
        else:
             tec.append(re.sub('\s',' ',c.text).split('  ')[0])
                
    res_temp = pd.DataFrame([corp, title, address, cur, tec], index = ['회사명', '공고제목', '주소', '경력', '기술']).T
    res_sri = pd.concat([res_sri, res_temp])

In [8]:
res_sri

,회사명,공고제목,주소,경력,기술
0,메가존클라우드(주),\nAWS Managed Service (Enterprise Cloud Engine...,서울강남구,경력무관,"AWS,유지보수,SQL,Python,쉘스크립트"
1,(주)클로잇,\n[클로잇] AWS / Azure TA 채용,서울강남구,경력 2~10년,"AWS,IDC,SE(시스템엔지니어),클라우드,Azure"
2,(주)빗썸코리아,\n[빗썸] 클라우드엔지니어 - AWS 서비스 운영,서울강남구,경력 5~10년,"AWS,핀테크,SE(시스템엔지니어),Kubernetes,DevOps"
3,(주)솔로몬텍,\n[솔로몬텍] AWS 클라우드 운영 경력직 채용,경기의왕시,경력5년↑,"AWS,MSSQL,ISMS,클라우드,Linux"
4,(주)에스비티글로벌,"\nAWS Cloud 구축 운영 (MSP) SA 2명 , DBA 1명",경기성남시,경력 3~19년,"AWS,아키텍쳐,Python,GCP,Perl"
...,...,...,...,...,...
95,(주)인피닛블록,\n[인피닛블록] 인프라 엔지니어 채용,서울강남구,경력2년↑,"AWS,ISMS,클라우드,Java,블록체인"
96,주식회사스타랩스,\n[스타랩스] 클라우드 DBA 경력직 채용,서울강남구,경력3년↑,"AWS,클라우드,MySQL,ERP,솔루션"
97,(주)피플펀드컴퍼니,\n데브옵스 엔지니어(DevOps Engineer),서울서초구,경력 3~10년,"AWS,Python,Apache,SE(시스템엔지니어),VPN"
98,메가존클라우드(주),\n글로벌 클라우드(Tech/Sales 등) 채용,서울강남구,경력무관,"AWS,Splunk,SQL,기술영업,모의해킹"
99,(주)미니게이트,\n[경력] Backend - 플랫폼 운영&개발 채용,서울강남구,경력8년↑,"AWS,Spring,SpringBoot,API,Scala"

In [9]:
res_sri.to_excel('sri.xlsx')

In [11]:
tec = []
for c in soup.select('div.job_sector'):
        if '외' in c.text:
            tec.append(re.sub('\s','',c.text).split('외')[0])
        else:
             tec.append(re.sub('\s',' ',c.text).split('  ')[0])

In [13]:
soup.select('div.job_sector')[tec.append(re.sub('\s',' ',c.text).split('  ')[0])

['AWS,유지보수,클라우드,Azure,인프라',
 'AWS,Python,Apache,SE(시스템엔지니어),Kubernetes',
 'AWS,유지보수,풀스택,Spring,PostgreSQL',
 'AWS,SQL,Python,Pytorch,챗봇',
 'AWS,PostgreSQL,MariaDB,API,OracleDB',
 'AWS,Python,VDI,H/W,VMware',
 'AWS,RPA,GCP,DevOps,클라우드',
 'AWS,클라우드,Azure,인프라,솔루션',
 'AWS,PostgreSQL,RestAPI,SQL,SaaS',
 'AWS,PostgreSQL,SpringBoot,SQL,MariaDB',
 'AWS,Spring,Ajax,.NET,JSP',
 'AWS,유지보수,IoT,클라우드,Linux',
 'AWS,Android,모델링,iOS,클라우드',
 'AWS,Python,ISMS,Java,클라우드',
 'AWS,유지보수,SQL,Python,VMware',
 'AWS,SE(시스템엔지니어),VPN,ISMS,클라우드',
 'AWS,모델링,유지보수,MongoDB,DBMS',
 'AWS,SOA,Python,GIS,Pytorch',
 'AWS,유지보수,아키텍쳐,Windows,정보통신',
 'AWS,SpringBoot,RestAPI,SQLite,JSP',
 'AWS,SI개발,DBMS,MyBatis,Java',
 'AWS,메타버스,Windows,SE(시스템엔지니어),VPN',
 'AWS,SE(시스템엔지니어),GCP,DevOps,Linux',
 'AWS,손익관리,HTML5,모델링,모의해킹',
 'AWS,SE(시스템엔지니어),PaaS,Spark,클라우드',
 'AWS,ETL,SQL,Python,OLAP',
 'AWS,GCP,DevOps,클라우드,Azure',
 'AWS,풀스택,아키텍쳐,SQL,Python',
 'AWS,아키텍쳐,ABAP,ERP,SE(시스템엔지니어)',
 'AWS,Spring,SpringBoot,RestAPI,SQL',
 'AWS,Windows,VMware,SE(시스템엔지니어),미들웨어',
 'AWS,사업관리,SpringBoot,Python,MongoDB',
 'AWS,PostgreSQL,RestAPI,.NET,MariaDB',
 'AWS,GCP,Kotlin,Git,Java',
 'AWS,Python,챗봇,React,Java',
 'AWS,PostgreSQL,SQL,MariaDB,Python',
 'AWS,유지보수,Spring,SQL,Angular',
 'AWS,IaaS,클라우드,Linux,네트워크',
 'AWS,GCP,GoLang,클라우드,인프라',
 'AWS,유지보수,Windows,Apache,IDC',
 'AWS,유지보수,Git,MSSQL,React',
 'AWS,Spring,SpringBoot,SQL,RestAPI',
 'AWS,Redis,Spring,SpringBoot,Kafka',
 'AWS,유지보수,알고리즘,Tensorflow,클라우드',
 'AWS,유지보수,클라우드,네트워크,인프라',
 'AWS,VMware,HTML5,CSS3,Git',
 'AWS,유지보수,Spring,PostgreSQL,SpringBoot',
 'AWS,아키텍쳐,SQL,MariaDB,Python',
 'AWS,Python,Pytorch,RPA,MongoDB',
 'AWS,PostgreSQL,SQL,SQLite,MariaDB',
 'AWS,Spring,SpringBoot,VMware,HTML5',
 'AWS,SpringBoot,RestAPI,MariaDB,Python',
 'AWS,유지보수,Windows,PostgreSQL,VMware',
 'AWS,Kotlin,Azure,Java,TypeScript',
 'AWS,악성코드,보안관제,블록체인,인프라',
 'AWS,유지보수,SE(시스템엔지니어),미들웨어,클라우드',
 'AWS,클라우드,MySQL,DBA,SQL',
 'AWS,유지보수,Spring,SQL,JSP',
 'AWS,S/W,RestAPI,API,알고리즘',
 'AWS,API,OracleDB,Git,ISMS',
 'AWS,유지보수,헬스케어,Windows,PostgreSQL',
 'AWS,방화벽,클라우드,Azure,인프라',
 'AWS,풀스택,Spring,SpringBoot,API',
 'AWS,유지보수,.NET,Python,ASP',
 'AWS,Spring,SpringBoot,SQL,MariaDB',
 'AWS,PostgreSQL,RestAPI,SQL,MariaDB',
 'AWS,SQL,Python,RDBMS,SE(시스템엔지니어)',
 'AWS,유지보수,STT,TTS,Python',
 'AWS,ETL,SQL,Python,Kafka',
 ' AWS, MSSQL, DBA, SQL, 인터넷교육 수정일 24/02/19 ',
 'AWS,Python,Java,클라우드,Django',
 'AWS,클라우드,네트워크,인프라,PO(프로덕트오너)',
 'AWS,SQL,Python,핀테크,기술영업',
 'AWS,.NET,Python,SE(시스템엔지니어),Kubernetes',
 'AWS,Redis,MariaDB,Kafka,SE(시스템엔지니어)',
 'AWS,Spring,RestAPI,SQL,OCR',
 'AWS,Python,SE(시스템엔지니어),Git,Kubernetes',
 'AWS,MariaDB,Python,HTML5,IDC',
 'AWS,Redux,Angular,API,SE(시스템엔지니어)',
 'AWS,SE(시스템엔지니어),GCP,Kubernetes,미들웨어',
 'AWS,Spring,SpringBoot,SQL,API',
 'AWS,유지보수,메타버스,Python,SE(시스템엔지니어)',
 'AWS,Flutter,ReactJS,인프라,C++',
 'AWS,풀스택,SQL,ETL,Python',
 'AWS,Spring,SpringBoot,PostgreSQL,SQL',
 'AWS,유지보수,Redis,Spring,PostgreSQL',
 'AWS,유지보수,AIX,Ajax,VDI',
 'AWS,Redis,Spring,SpringBoot,SQL',
 'AWS,웹마스터,유지보수,메타버스,Spring',
 'AWS,Python,Apache,OracleDB,APM',
 'AWS,QA/테스터,S/W,ETL,Python',
 'AWS,Kotlin,클라우드,네트워크,게임개발',
 'AWS,Redis,PostgreSQL,SQL,Python',
 'AWS,SE(시스템엔지니어),PaaS,유지보수,클라우드',
 'AWS,유지보수,Spring,PostgreSQL,SQL',
 'AWS,ISMS,클라우드,Java,블록체인',
 'AWS,클라우드,MySQL,ERP,솔루션',
 'AWS,Python,Apache,SE(시스템엔지니어),VPN',
 'AWS,Splunk,SQL,기술영업,모의해킹',
 'AWS,Spring,SpringBoot,API,Scala']

In [51]:
.split('  ')

['\nAWS, 유지보수, 클라우드, Azure, 인프라 외', '', '', '', '', '', '', '', '', '', '']

In [ ]:
soup.select('div.job_sector')[tec.append(re.sub('\s',' ',c.text).split('  ')[0])
                              
for c in soup.select('div.job_sector'):
        if '외' in c.text:
            tec.append(re.sub('\s','',c.text).split('외')[0])
        else:
            tec.append(re.sub('\D\D\D\s\d\d\D\d\d\D\d\d\s', '',c.text).split('  ')

In [53]:
res_sri = pd.DataFrame(columns= ['회사명', '공고제목', '주소', '경력', '기술'])

for page in range(1, 4):
    url_sri = f'https://www.saramin.co.kr/zf_user/search/recruit?search_area=main&search_done=y&search_optional_item=n&searchType=recently&searchword=aws&recruitPage={page}&recruitSort=relation&recruitPageCount=100&inner_com_type=&company_cd=0%2C1%2C2%2C3%2C4%2C5%2C6%2C7%2C9%2C10&show_applied=&quick_apply=&except_read=&ai_head_hunting=&mainSearch=n'
    tec = []
    address = []
    cur = []
    
    driver = webdriver.Chrome()
    driver.get(url_sri)
    driver.get(url_sri)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    title = [a.text for a in soup.select('h2.job_tit')]
    corp = [re.sub('\s','',b.text) for b in soup.select('strong.corp_name')]

    for k in soup.select('div.job_condition'):
        if '경력' in ''.join(k.text.split()[:2]):
            address.append(''.join(k.text.split()[:1]))
        else:
            address.append(''.join(k.text.split()[:2]))
    
    for g in range(1,101):
        try:
            cur.append(driver.find_element(By.XPATH, f'//*[@id="recruit_info_list"]/div[1]/div[{g}]/div[2]/div[3]/span[2]').text)
        except:
            cur.append(None)

    for c in soup.select('div.job_sector'):
        if '외' in c.text:
            tec.append(re.sub('\s','',c.text).split('외')[0])
        else:
            tec.append(re.sub('\D\D\D\s\d\d\D\d\d\D\d\d\s', '',c.text).split('  '))
                
    res_temp = pd.DataFrame([corp, title, address, cur, tec], index = ['회사명', '공고제목', '주소', '경력', '기술']).T
    res_sri = pd.concat([res_sri, res_temp])

In [54]:
res_sri.to_excel('sri_real.xlsx')