In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('./김재경/.gitignore/wanted_data_2.csv', index_col= 0 )
data

       기업명                   업종분류  사원수            설립연도          매출액
0        젭  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   2년 (2022년 설립)           -원
0   서커스컴퍼니  시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  11년 (2013년 설립)   22억2,380만원
0      블로코  시스템ㆍ응용 소프트웨어 개발 및 공급업  26명   9년 (2015년 설립)   22억1,128만원
0      피매치     자연과학 및 공학 융합 연구개발업  NaN   3년 (2021년 설립)           -원
0    만나플래닛  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   8년 (2016년 설립)  123억8,113만원
..     ...                    ...  ...             ...          ...
0      인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   1년 (2023년 설립)           -원
0      큐픽스    의약품, 의료용품 및 화장품 도매업  NaN   7년 (2017년 설립)           -원
0      엔비티      세제, 화장품 및 광택제 제조업   6명   8년 (2016년 설립)   14억5,461만원
0      퍼니지           경비 및 경호 서비스업   6명  12년 (2012년 설립)           -원
0   아이오바이오             자연과학 연구개발업  37명  13년 (2011년 설립)   10억3,744만원

[1811 rows x 5 columns]

In [6]:
data[data.매출액 == '-원']

        기업명                   업종분류   사원수            설립연도 매출액
0         젭  시스템ㆍ응용 소프트웨어 개발 및 공급업   NaN   2년 (2022년 설립)  -원
0       피매치     자연과학 및 공학 융합 연구개발업   NaN   3년 (2021년 설립)  -원
0   세이프에이아이  시스템ㆍ응용 소프트웨어 개발 및 공급업    3명   1년 (2023년 설립)  -원
0   마크비전코리아  시스템ㆍ응용 소프트웨어 개발 및 공급업  117명   4년 (2020년 설립)  -원
0   비에이치에스엔  시스템ㆍ응용 소프트웨어 개발 및 공급업   46명   4년 (2020년 설립)  -원
..      ...                    ...   ...             ...  ..
0       인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업   NaN   1년 (2023년 설립)  -원
0        와들  시스템ㆍ응용 소프트웨어 개발 및 공급업   NaN   5년 (2019년 설립)  -원
0       인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업   NaN   1년 (2023년 설립)  -원
0       큐픽스    의약품, 의료용품 및 화장품 도매업   NaN   7년 (2017년 설립)  -원
0       퍼니지           경비 및 경호 서비스업    6명  12년 (2012년 설립)  -원

[733 rows x 5 columns]

In [9]:
no_job_dis = data[data.업종분류 == '-']

# 선후 이터널 에임 에이지 모두의봄