# Wanted_insight_data_handle

In [53]:
import pandas as pd
import re

In [166]:
data = pd.read_csv('./.gitignore/wanted_insight_data.csv', index_col= 0 )
data

       기업명                   업종분류  사원수            설립연도          매출액
0        젭  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   2년 (2022년 설립)           -원
0   서커스컴퍼니  시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  11년 (2013년 설립)   22억2,380만원
0      블로코  시스템ㆍ응용 소프트웨어 개발 및 공급업  26명   9년 (2015년 설립)   22억1,128만원
0      피매치     자연과학 및 공학 융합 연구개발업  NaN   3년 (2021년 설립)           -원
0    만나플래닛  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   8년 (2016년 설립)  123억8,113만원
..     ...                    ...  ...             ...          ...
0      인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   1년 (2023년 설립)           -원
0      큐픽스    의약품, 의료용품 및 화장품 도매업  NaN   7년 (2017년 설립)           -원
0      엔비티      세제, 화장품 및 광택제 제조업   6명   8년 (2016년 설립)   14억5,461만원
0      퍼니지           경비 및 경호 서비스업   6명  12년 (2012년 설립)           -원
0   아이오바이오             자연과학 연구개발업  37명  13년 (2011년 설립)   10억3,744만원

[1811 rows x 5 columns]

In [167]:
data.loc[data.업종분류 == '-', '업종분류'] = None

In [168]:
data.설립연도.unique()

array(['2년 (2022년 설립)', '11년 (2013년 설립)', '9년 (2015년 설립)',
       '3년 (2021년 설립)', '8년 (2016년 설립)', '10년 (2014년 설립)',
       '17년 (2007년 설립)', '13년 (2011년 설립)', '1년 (2023년 설립)',
       '4년 (2020년 설립)', '6년 (2018년 설립)', '7년 (2017년 설립)', '5년 (2019년 설립)',
       '23년 (2001년 설립)', '14년 (2010년 설립)', '26년 (1998년 설립)',
       '29년 (1995년 설립)', '12년 (2012년 설립)', '28년 (1996년 설립)',
       '20년 (2004년 설립)', '21년 (2003년 설립)', '24년 (2000년 설립)',
       '18년 (2006년 설립)', '16년 (2008년 설립)', '19년 (2005년 설립)',
       '25년 (1999년 설립)', '15년 (2009년 설립)', '30년 (1994년 설립)',
       '31년 (1993년 설립)'], dtype=object)

In [169]:
data.설립연도 = data.설립연도.apply(lambda x: int(''.join(re.findall('(\d\d\d\d)', x))))

In [170]:
data.loc[data.매출액 == '-원', '매출액'] = None
data

       기업명                   업종분류  사원수  설립연도          매출액
0        젭  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2022         None
0   서커스컴퍼니  시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  2013   22억2,380만원
0      블로코  시스템ㆍ응용 소프트웨어 개발 및 공급업  26명  2015   22억1,128만원
0      피매치     자연과학 및 공학 융합 연구개발업  NaN  2021         None
0    만나플래닛  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2016  123억8,113만원
..     ...                    ...  ...   ...          ...
0      인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN  2023         None
0      큐픽스    의약품, 의료용품 및 화장품 도매업  NaN  2017         None
0      엔비티      세제, 화장품 및 광택제 제조업   6명  2016   14억5,461만원
0      퍼니지           경비 및 경호 서비스업   6명  2012         None
0   아이오바이오             자연과학 연구개발업  37명  2011   10억3,744만원

[1811 rows x 5 columns]

In [171]:
data.isna().sum()

기업명       0
업종분류     28
사원수     319
설립연도      0
매출액     733
dtype: int64

In [172]:
data.duplicated().sum()

1343

In [173]:
data = data.drop_duplicates()

In [174]:
data.duplicated().sum()

0

In [268]:
data_concat = pd.concat([data.기업명, data.매출액], axis= 1)
data_sales = data_concat.dropna()
data_sales

          기업명          매출액
0      서커스컴퍼니   22억2,380만원
0         블로코   22억1,128만원
0       만나플래닛  123억8,113만원
0     미트박스글로벌  317억4,225만원
0        로지스팟    280억836만원
..        ...          ...
0       미스터블루  285억7,165만원
0       트립비토즈   25억5,476만원
0   포커스미디어코리아  577억6,386만원
0    빅픽처인터렉티브   41억2,009만원
0      컴투스플랫폼  202억8,737만원

[244 rows x 2 columns]

In [ ]:
data_sales_1 = data_sales.매출액.apply(lambda x: x.replace(',',''))

data_sales_res = []
try:
    for q in data_sales_1:
        if '조' in q:
                data_sales_res.append(int(''.join(re.findall(r'(\d+)조', q)))*100000000 + int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))
        elif '억원' in q:
             data_sales_res.append(int(''.join(re.findall(r'(\d+)억원', q)))*10000)
        elif '억' in q:
           data_sales_res.append(int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))   
        else:
            data_sales_res.append(int(''.join(re.findall(r'(\d+)만원', q))))
except:
     print(q)

In [222]:
data_sales_1.apply(lambda x: int(''.join(re.findall(r'(\d+)조', x)))*100000000)

array(['', '1', '3'], dtype=object)

In [246]:
data_sales_1 = data_sales.apply(lambda x: x.replace(',',''))

data_sales_res = []
try:
    for q in data_sales_1:
        if '조' in q:
                data_sales_res.append(int(''.join(re.findall(r'(\d+)조', q)))*100000000 + int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))
        elif '억원' in q:
             data_sales_res.append(int(''.join(re.findall(r'(\d+)억원', q)))*10000)
        elif '억' in q:
           data_sales_res.append(int(''.join(re.findall(r'(\d+)억', q)))*10000 + int(''.join(re.findall(r'억(\d+)', q))))   
        else:
            data_sales_res.append(int(''.join(re.findall(r'(\d+)만원', q))))
except:
     print(q)

In [163]:
def convert_sales_amount(amount):
    # 입력된 문자열에서 조, 억, 만을 기준으로 숫자를 분리합니다.
    units = {'조': 10 ** 12, '억': 10 ** 8, '만': 10 ** 4}
    # 공백을 기준으로 문자열을 분할합니다.
    split_amount = amount.split()
    
    # 결과를 저장할 변수 초기화
    total_amount = 0
    current_number = 0
    
    # 분할된 문자열을 순회하며 처리합니다.
    for token in split_amount:
        # 만일 token이 숫자로 변환 가능하다면,
        if token.isdigit():
            # 현재의 숫자로 갱신합니다.
            current_number = int(token)
        else:
            # 숫자가 아닌 경우, 단위를 추출하여 해당 단위에 대응하는 값을 곱하여 더합니다.
            unit = token[-1]  # 단위를 추출합니다.
            number = int(token[:-1])  # 단위를 제외한 숫자를 추출합니다.
            total_amount += number * units[unit]
            # 현재의 숫자를 초기화합니다.
            current_number = 0
            
    # 마지막으로 현재의 숫자를 더해줍니다.
    total_amount += current_number
    
    return total_amount//10000

# 테스트 데이터
data_sales = [
    '12조 308억 3011만',
    '1조 200억 300만',
    '100억 2000만',
    '1조 2억',
    '100만',
    '1억',
    '1000만',
    '123조 456억 789만',
    '1억 5000만',
    '1조 2억 3000만',
]

# 변환된 데이터를 저장할 리스트
converted_data = []

# 데이터 변환 수행
for amount in data_sales:
    converted_data.append(convert_sales_amount(amount))

print(converted_data)

[1203083011, 102000300, 1002000, 100020000, 100, 10000, 1000, 12304560789, 15000, 100023000]

In [52]:
data.to_csv('wanted_insight_handle.csv')

# Dart_data_handle

In [102]:
data_1 = pd.read_csv('./.gitignore/wanted_dart_data.csv', index_col=0)

In [58]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, 0 to 0
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기업명        397 non-null    object
 1   주소         397 non-null    object
 2   업종분류       397 non-null    object
 3   설립연도       397 non-null    object
 4   기업홈페이지URL  242 non-null    object
dtypes: object(5)
memory usage: 18.6+ KB

In [103]:
data_1

,기업명,주소,업종분류,설립연도,기업홈페이지URL
0,이큐브랩,"서울특별시 구로구 디지털로34길 55 (구로동, 코오롱싸이언스밸리2차) 1503호",그 외 기타 특수 목적용 기계 제조업,2011-07-01,www.ecubelabs.com
0,마크비전코리아,"서울특별시 강남구 테헤란로 427 (삼성동, 위워크타워) 6층 101호 102호, ...",응용 소프트웨어 개발 및 공급업,2019-12-12,NaN
0,미트박스글로벌,서울특별시 강남구 테헤란로34길 22 (역삼동),전자상거래 소매 중개업,2014-05-19,https://www.meatbox.co.kr/
0,마켓디자이너스,"서울특별시 강남구 테헤란로20길 9 (역삼동, 동궁빌딩) 3층, 13층",교육 서비스업,2017-02-09,NaN
0,이큐브랩,"서울특별시 구로구 디지털로34길 55 (구로동, 코오롱싸이언스밸리2차) 1503호",그 외 기타 특수 목적용 기계 제조업,2011-07-01,www.ecubelabs.com
...,...,...,...,...,...
0,무신사,서울특별시 성동구 아차산로13길 11 (성수동2가) 무신사캠퍼스 N1 1층,통신 판매업,2012-06-25,NaN
0,에드워드코리아,"충청남도 천안시 서북구 3공단1로 96 (차암동, 성원에드워드(주))",기체 펌프 및 압축기 제조업,1992-09-01,NaN
0,큐픽스,"경기도 안양시 동안구 학의로 268 6층 625호(관양동,안양메가밸리)",건물설비 설치 공사업,1996-12-02,www.cnt85.com
0,슈퍼진,"서울특별시 서초구 강남대로 373 (서초동, 홍우빌딩)",시스템 소프트웨어 개발 및 공급업,2016-12-08,NaN
0,아이오바이오,"서울특별시 강남구 테헤란로4길 38, 8층",그 외 기타 의료용 기기 제조업,2011-08-09,www.aiobio.co.kr/

In [104]:
data_1.설립연도 = data_1.설립연도.apply(lambda x: ''.join(re.findall('\d\d\d\d', x)))

In [105]:
data_1.drop_duplicates(inplace=True)

In [106]:
data_1.주소 = data_1.주소.apply(lambda x: ' '.join(re.findall(r'\b(\w+[구시도])\b', x)))

In [109]:
data_1.to_csv('wanted_dart_handle.csv')

# Catch_data_handle