In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.read_csv('./.gitignore/hadle_data/wanted_dart_handle.csv', index_col = 0)
df_2 = pd.read_csv('./.gitignore/hadle_data/wanted_insight_handle.csv', index_col = 0)
df_3 = pd.read_csv('./.gitignore/hadle_data/wanted_incruit_handle.csv', index_col = 0)
df = pd.read_csv('./.gitignore/wanted_data.csv', index_col= 0)

In [26]:
df_1 = df_1.rename(columns={'기업홈페이지 URL': '기업 홈페이지 URL'})
df_1

,기업명,주소,업종분류,설립연도,기업 홈페이지 URL
0,이큐브랩,서울특별시 구로구,그 외 기타 특수 목적용 기계 제조업,2011,www.ecubelabs.com
0,마크비전코리아,서울특별시 강남구,응용 소프트웨어 개발 및 공급업,2019,NaN
0,미트박스글로벌,서울특별시 강남구,전자상거래 소매 중개업,2014,https://www.meatbox.co.kr/
0,마켓디자이너스,서울특별시 강남구,교육 서비스업,2017,NaN
0,크래프트테크놀로지스,서울특별시 성동구,전기ㆍ전자공학 연구개발업,2016,www.qraft.co.kr
...,...,...,...,...,...
0,컴투스플랫폼,서울특별시 성동구,전기ㆍ전자공학 연구개발업,2016,NaN
0,모두의봄,서울특별시 마포구,"도장, 도배 및 내장 공사업",2022,www.vhom.co.kr/
0,고피자,서울특별시 종로구,기타 식료품 소매업,2017,www.gopizza.kr
0,크래프톤,서울특별시 종로구,기타 식료품 소매업,2007,www.krafton.com
0,대교,서울특별시 강남구,게임 소프트웨어 개발 및 공급업,2009,NaN

In [18]:
df_2

          기업명                        업종분류   사원수  설립연도        매출액
0           젭       시스템ㆍ응용 소프트웨어 개발 및 공급업   NaN  2022        NaN
0      서커스컴퍼니       시스템ㆍ응용 소프트웨어 개발 및 공급업  13.0  2013   222380.0
0         블로코       시스템ㆍ응용 소프트웨어 개발 및 공급업  26.0  2015   221128.0
0         피매치          자연과학 및 공학 융합 연구개발업   NaN  2021        NaN
0       만나플래닛       시스템ㆍ응용 소프트웨어 개발 및 공급업   NaN  2016  1238113.0
..        ...                         ...   ...   ...        ...
0        일만백만       시스템ㆍ응용 소프트웨어 개발 및 공급업  13.0  2022        NaN
0      로위랩코리아      영화, 비디오물 및 방송 프로그램 제작업  18.0  2021        NaN
0   퀀티파이드이에스지       시스템ㆍ응용 소프트웨어 개발 및 공급업  16.0  2019        NaN
0        라온메디  의약품, 의료용 기구, 화장품 및 방향제 소매업   5.0  2014        NaN
0         퍼니지                경비 및 경호 서비스업   6.0  2012        NaN

[468 rows x 5 columns]

In [23]:
df_3 = df_3.rename(columns={'기업 홈페이지 URL ':'기업 홈페이지 URL'})
df_3.reset_index(drop= True, inplace = True)
df_3.duplicated().sum()

0

In [20]:
df

,기업명,주소,직무,자격요건,직급,이용하는기술스택/우대사항,해당 페이지 URL
0,젭(zep),서울특별시 강남구 강남대로94길 10 케이스퀘어 8층,소프트웨어 엔지니어,"하나이상의프로그래밍언어를다룰수있는분•새로운지식,기술에대한관심과열정이있으신분•협업과커...",3,"• 멀티 쓰레드와 분할 서버 환경을 이해하시는 분, • 웹소켓 서버에 대한 이해가 ...",https://www.wanted.co.kr/wd/180861
1,서커스컴퍼니,서울시 강남구 논현동 87-3 우신논현빌딩 3층,소프트웨어 엔지니어,"나이/성별/학력/전공무관, 3년이상의웹어플리케이션개발,운영경험, Node,.Net...",0,"- 품질 좋은 소프트웨어 개발을 위해 지속적으로 노력해오신 분, - 객체지향 개발 ...",https://www.wanted.co.kr/wd/207284
2,블로코(blocko),"경기도 성남시 분당구 성남대로 331번길 9-13, 3층(정자동, 이현빌딩)",소프트웨어 엔지니어,"Golang개발경력2년이상, 대용량데이터,쓰레드프로그래밍에익숙한분",2,"• 블록체인 관련 개발 경험, • 블록체인 스마트 컨트랙트 개발 경험, • 타 언어...",https://www.wanted.co.kr/wd/206690
3,피매치,마포구 마포대로 122 프론트원 13층,소프트웨어 엔지니어,경력:동종업(AI서비스개발/운영)2년이상또는그에준하는역량을가지신분•대용량데이터활용이...,2,"• 헬스케어 분야에서의 경험이 있으신 분, • 자연어 생성 모델(LLM) 관련 경험...",https://www.wanted.co.kr/wd/186806
4,만나플래닛,"서울시 구로구 경인로661, 101동 15층",소프트웨어 엔지니어,5년이상JAVA개발경험을가지신분ㆍ팀원들과원할한커뮤니케이션이가능하신분ㆍ스스로할일을정하...,5,"ㆍRest API를 이해하고 API를 개발할 수 있는 분, ㆍGit, redmine...",https://www.wanted.co.kr/wd/206244
...,...,...,...,...,...,...,...
1957,인센드,경기도 성남시 분당구 황새울로319번길 6 410호,BI 엔지니어,"경력8년이상•창의성,협동심,도전정신중간에포기하지않는개발자와같이하고싶습니다.",8,"• 개발 및 인력에 대한 리더쉽 소유하신분 , • Full Stack 능력을 가지신분",https://www.wanted.co.kr/wd/195532
1958,큐픽스,"경기 성남시 분당구 대왕판교로 670, 유스페이스2 B동 605호",루비온레일즈 개발자,석사학위이상의2년이상경력자(혹은이에준하는실력보유자)•전문연구요원(병역특례)신입/전직...,2,• Amazon Web Services 등 클라우드 환경에서 Terraform 등의...,https://www.wanted.co.kr/wd/207738
1959,엔비티(NBT),"서울특별시 서초구 서초대로38길 12, 마제스타시티 타워1 14층",루비온레일즈 개발자,"백엔드개발,운영실무6년이상또는그에준하는역량을보유하신분•RESTfulAPI에대한경험및...",6,"• 모바일 광고, 특히 AdTech에 대한 경험이 있으신 분, • Ruby on R...",https://www.wanted.co.kr/wd/177555
1960,퍼니지,서울 성동구 연무장5가길 25 성수역 SK V1 Tower,루비온레일즈 개발자,"학력:무관•경력:백엔드개발3년이상(django,Nest.js,기타백엔드프레임워크)•...",3,"• Ruby on Rails 프로젝트 유경험자, • 앱 서비스를 개발/운영해보신 분",https://www.wanted.co.kr/wd/207959
1961,아이오바이오,서울시 강남구 테헤란로4길 38,"CIO,Chief Information Officer","이런분과함께하고싶어요.""•디바이스부터플랫폼까지관련경력10년이상보유자로조직리딩유경험자...",10,"""이런 경험이 있으시면 더 좋아요."", , • 국내외 소프트웨어 의료기기에 대한 규...",https://www.wanted.co.kr/wd/184039

In [29]:
df = df.combine_first(df_3).combine_first(df_2).combine_first(df_1).drop_duplicates()

In [39]:
df

,기업 홈페이지 URL,기업규모,기업명,매출액,사원수,설립연도,업종분류,이용하는기술스택/우대사항,자격요건,주소,직급,직무,해당 페이지 URL
0,www.circusar.com/,중소기업,젭(zep),170563.0,20.0,2012.0,소프트웨어·솔루션·ASP,"• 멀티 쓰레드와 분할 서버 환경을 이해하시는 분, • 웹소켓 서버에 대한 이해가 ...","하나이상의프로그래밍언어를다룰수있는분•새로운지식,기술에대한관심과열정이있으신분•협업과커...",서울특별시 강남구 강남대로94길 10 케이스퀘어 8층,3,소프트웨어 엔지니어,https://www.wanted.co.kr/wd/180861
1,www.manna-planet.com,중소기업,서커스컴퍼니,1419493.0,134.0,2016.0,소프트웨어·솔루션·ASP,"- 품질 좋은 소프트웨어 개발을 위해 지속적으로 노력해오신 분, - 객체지향 개발 ...","나이/성별/학력/전공무관, 3년이상의웹어플리케이션개발,운영경험, Node,.Net...",서울시 강남구 논현동 87-3 우신논현빌딩 3층,0,소프트웨어 엔지니어,https://www.wanted.co.kr/wd/207284
2,www.meatbox.co.kr,중소기업,블로코(blocko),5521702.0,69.0,2014.0,쇼핑몰·전자상거래·오픈마켓,"• 블록체인 관련 개발 경험, • 블록체인 스마트 컨트랙트 개발 경험, • 타 언어...","Golang개발경력2년이상, 대용량데이터,쓰레드프로그래밍에익숙한분","경기도 성남시 분당구 성남대로 331번길 9-13, 3층(정자동, 이현빌딩)",2,소프트웨어 엔지니어,https://www.wanted.co.kr/wd/206690
3,www.marqvision.com,중소기업,피매치,NaN,100.0,2019.0,소프트웨어·솔루션·ASP,"• 헬스케어 분야에서의 경험이 있으신 분, • 자연어 생성 모델(LLM) 관련 경험...",경력:동종업(AI서비스개발/운영)2년이상또는그에준하는역량을가지신분•대용량데이터활용이...,마포구 마포대로 122 프론트원 13층,2,소프트웨어 엔지니어,https://www.wanted.co.kr/wd/186806
4,www.wishbeen.co.kr/,중소기업,만나플래닛,749.0,20.0,2018.0,인터넷·포털·컨텐츠·게임,"ㆍRest API를 이해하고 API를 개발할 수 있는 분, ㆍGit, redmine...",5년이상JAVA개발경험을가지신분ㆍ팀원들과원할한커뮤니케이션이가능하신분ㆍ스스로할일을정하...,"서울시 구로구 경인로661, 101동 15층",5,소프트웨어 엔지니어,https://www.wanted.co.kr/wd/206244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,NaN,NaN,인센드,NaN,NaN,NaN,NaN,"• 개발 및 인력에 대한 리더쉽 소유하신분 , • Full Stack 능력을 가지신분","경력8년이상•창의성,협동심,도전정신중간에포기하지않는개발자와같이하고싶습니다.",경기도 성남시 분당구 황새울로319번길 6 410호,8,BI 엔지니어,https://www.wanted.co.kr/wd/195532
1958,NaN,NaN,큐픽스,NaN,NaN,NaN,NaN,• Amazon Web Services 등 클라우드 환경에서 Terraform 등의...,석사학위이상의2년이상경력자(혹은이에준하는실력보유자)•전문연구요원(병역특례)신입/전직...,"경기 성남시 분당구 대왕판교로 670, 유스페이스2 B동 605호",2,루비온레일즈 개발자,https://www.wanted.co.kr/wd/207738
1959,NaN,NaN,엔비티(NBT),NaN,NaN,NaN,NaN,"• 모바일 광고, 특히 AdTech에 대한 경험이 있으신 분, • Ruby on R...","백엔드개발,운영실무6년이상또는그에준하는역량을보유하신분•RESTfulAPI에대한경험및...","서울특별시 서초구 서초대로38길 12, 마제스타시티 타워1 14층",6,루비온레일즈 개발자,https://www.wanted.co.kr/wd/177555
1960,NaN,NaN,퍼니지,NaN,NaN,NaN,NaN,"• Ruby on Rails 프로젝트 유경험자, • 앱 서비스를 개발/운영해보신 분","학력:무관•경력:백엔드개발3년이상(django,Nest.js,기타백엔드프레임워크)•...",서울 성동구 연무장5가길 25 성수역 SK V1 Tower,3,루비온레일즈 개발자,https://www.wanted.co.kr/wd/207959
1961,NaN,NaN,아이오바이오,NaN,NaN,NaN,NaN,"""이런 경험이 있으시면 더 좋아요."", , • 국내외 소프트웨어 의료기기에 대한 규...","이런분과함께하고싶어요.""•디바이스부터플랫폼까지관련경력10년이상보유자로조직리딩유경험자...",서울시 강남구 테헤란로4길 38,10,"CIO,Chief Information Officer",https://www.wanted.co.kr/wd/184039