In [19]:
import pandas as pd
import re

In [8]:
data = pd.read_csv('./.gitignore/wanted_insight_data.csv', index_col= 0 )
data

       기업명                   업종분류  사원수            설립연도          매출액
0        젭  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   2년 (2022년 설립)           -원
0   서커스컴퍼니  시스템ㆍ응용 소프트웨어 개발 및 공급업  13명  11년 (2013년 설립)   22억2,380만원
0      블로코  시스템ㆍ응용 소프트웨어 개발 및 공급업  26명   9년 (2015년 설립)   22억1,128만원
0      피매치     자연과학 및 공학 융합 연구개발업  NaN   3년 (2021년 설립)           -원
0    만나플래닛  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   8년 (2016년 설립)  123억8,113만원
..     ...                    ...  ...             ...          ...
0      인센드  시스템ㆍ응용 소프트웨어 개발 및 공급업  NaN   1년 (2023년 설립)           -원
0      큐픽스    의약품, 의료용품 및 화장품 도매업  NaN   7년 (2017년 설립)           -원
0      엔비티      세제, 화장품 및 광택제 제조업   6명   8년 (2016년 설립)   14억5,461만원
0      퍼니지           경비 및 경호 서비스업   6명  12년 (2012년 설립)           -원
0   아이오바이오             자연과학 연구개발업  37명  13년 (2011년 설립)   10억3,744만원

[1811 rows x 5 columns]

In [13]:
data.loc[data.업종분류 == '-', '업종분류'] = None

In [25]:
data.설립연도.unique()

array(['2년 (2022년 설립)', '11년 (2013년 설립)', '9년 (2015년 설립)',
       '3년 (2021년 설립)', '8년 (2016년 설립)', '10년 (2014년 설립)',
       '17년 (2007년 설립)', '13년 (2011년 설립)', '1년 (2023년 설립)',
       '4년 (2020년 설립)', '6년 (2018년 설립)', '7년 (2017년 설립)', '5년 (2019년 설립)',
       '23년 (2001년 설립)', '14년 (2010년 설립)', '26년 (1998년 설립)',
       '29년 (1995년 설립)', '12년 (2012년 설립)', '28년 (1996년 설립)',
       '20년 (2004년 설립)', '21년 (2003년 설립)', '24년 (2000년 설립)',
       '18년 (2006년 설립)', '16년 (2008년 설립)', '19년 (2005년 설립)',
       '25년 (1999년 설립)', '15년 (2009년 설립)', '30년 (1994년 설립)',
       '31년 (1993년 설립)'], dtype=object)

In [28]:
data.설립연도 = data.설립연도.apply(lambda x: int(''.join(re.findall('(\d\d\d\d)', x))))

In [37]:
data.loc[data.매출액 == '-원', '매출액'] = None
data

In [42]:
data.isna().sum()

기업명       0
업종분류     28
사원수     319
설립연도      0
매출액     733
dtype: int64

In [44]:
data.duplicated().sum()

1343

In [47]:
data = data.drop_duplicates()

In [51]:
data.duplicated().sum()

0

In [52]:
data.to_csv('wanted_insight_handle.csv')